<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Unix Shell recap</td> </tr>
      <tr> <td>10:30</td>  <td>Loops in the Unix Shell</td> </tr>
      <tr> <td>11:00</td>  <td>Exercises with loops</td> </tr>
      <tr> <td>11:15</td>  <td>Refreshments</td> </tr>
      <tr> <td>11:30</td>  <td>Regular Expressions</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Short Introduction to sed & awk</td> </tr>
      <tr> <td>15:15</td>  <td>Refreshments</td> </tr>
      <tr> <td>15:30</td>  <td>MakeFile</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
